<h2>Welcome to Ace Ventura's Shop</h2>
<img src="https://www.pikpng.com/pngl/m/395-3953549_pet-detective-oval-clipart.png" alt="" style="max-width: 200px" />

<h2> CART ID: {{cid}} </h2>
<a href="http://localhost:8080/"> <button> Home </button></a>
{{#each products}}
  <div>
    <ul>
      <li>Product Title: {{title}}</li>
      <li>Price: {{price}}</li>
      <li>Quantity: {{quantity}}</li>
    </ul>
  </div>
{{/each}}