<h2>Welcome to Ace Ventura's Shop</h2>
<img src="https://www.pikpng.com/pngl/m/395-3953549_pet-detective-oval-clipart.png" alt="" style="max-width: 200px" />

<h1>Live Chat</h1>
<a href="http://localhost:8080/"> <button> Home </button></a>
<h3>Chat</h3>
<input type="email" id="chatBox" />
<p id="messageLogs"></p>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>