<h2>Enter the Rhino Realm'</h2>
<div>
  <h3>Login</h3>
  <form id="loginForm">
    <label>Email</label>
    <input name="email" />
    <br />
    <label>password</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>Are you not registered?<a href="/register">Register Here</a></p>
</div>
<a href="http://localhost:8080/"> <button> Home </button></a>
<script src="/js/login.js"></script>