<h2>User Info</h2>
<div>
  <h3>Public Data</h3>
  <p>Name:</p>
  <p>{{user.first_name}}</p>
  <p>Email:</p>
  <p>{{user.email}}</p>
  <p>Role:</p>
  <p>{{user.rol}}</p>
</div>
<a href="http://localhost:8080/"> <button> Home </button></a>
<script src="/js/logout.js"></script>